<section class="container">
<!--     <div class="open-close">
        <p>
            Horario: de 10:00AM a 13:30PM y de 14:30PM a 18:30PM.<br>
        </p>
        <p>
            ¡Envios en el dia! Realiza tu pedido antes de las 13 hs y recibilo por la tarde!
        </p>
    </div> -->
    <section class="products">
        <div class="products_element products_element_1">
            <figure>
                <img src="assets/images/pods_descartables.jpg">
                <img src="assets/images/descartables.png">
            </figure>
        </div>
        <div class="products_element products_element_2">
            <figure>
                <img src="assets/images/herramientas.jpg">
                <img src="assets/images/herramientas2.png">
            </figure>
        </div>
        <div class="products_element products_element_3">
            <figure>
                <img src="assets/images/pilas.jpg">
                <img src="assets/images/cargador.png">
            </figure>
        </div>
        <div class="products_element products_element_4">
            <figure>
                <img src="assets/images/recargables.jpeg">
                <img src="assets/images/recargables.png">
            </figure>
        </div>
        <div class="products_element products_element_5">
            <figure>
                <img src="assets/images/equiposKit.jpg">
                <img src="assets/images/equiposKit.png">
            </figure>
        </div>
        <div class="products_element products_element_6">
            <figure>
                <img src="assets/images/liquidos.jpeg">
                <img src="assets/images/rellenado.png">
            </figure>
        </div>
        <div class="products_element products_element_7">
            <figure>
                <img src="assets/images/sales.jpg">
                <img src="assets/images/sales.png">
            </figure>
        </div>
        <div class="products_element products_element_8">
            <figure>
                <img src="assets/images/pyrex.jpeg">
                <img src="assets/images/pyrex.png">
            </figure>
        </div>
        <div class="products_element products_element_9">
            <figure>
                <img src="assets/images/resistencias.jpg">
                <img src="assets/images/resistencias.png">
            </figure>
        </div>
        <div class="products_element products_element_10">
            <figure>
                <img src="" alt="">
            </figure>
        </div>
        <div class="products_element products_element_11">
            <figure>
                <img src="assets/images/tanques.jpeg">
                <img src="assets/images/tanques.png">
            </figure>
        </div>
        <div class="products_element products_element_12">
            <figure>
                <img src="assets/images/herbales.jpeg">
                <img src="assets/images/hervales.png">
            </figure>
        </div>
    </section>
</section>
