<nav class="nav">
    <figure class="logo">
        <img src="https://cdn.pedix.app/Tyt6MmWBPpYdJB31lu28/establishment-logo/logo-1624940395370.png" alt="">
    </figure>

    <section class="articulos">
        <ul class="articulos-list">
            <li>
                <p>Equipos</p>
                <div class="articulos_equipos">
                    <div class="equipos_element1">
                        <p>Pods Descartables</p>
                    </div>
                    <div class="equipos_element2">
                        <p>Pods Recargables</p>
                    </div>
                    <div class="equipos_element3">
                        <p>Equipos Kits</p>
                    </div>
                    <div class="equipos_element4">
                        <p>Vaporizadores Herbales</p>
                    </div>
                    <div class="equipos_element5">
                        <p>Repuestos</p>
                    </div>
                </div>
            </li>
            <li>
                <p>Liquidos</p>
                <div class="articulos_liquidos">
                    <div class="liquidos_elemento">
                        <p>Nacionales</p>
                    </div>
                    <div class="liquidos_elemento">
                        <p>Importados</p>
                    </div>
                </div>
            </li>
            <li>
                <p>Herramientas</p>

                <div class="articulos_herramientas">
                    <div class="herramientas_elemento1">
                        <p>Algodones</p>
                    </div>
                    <div class="herramientas_elemento2">
                        <p>Pinzas</p>
                    </div>
                    <div class="herramientas_elemento3">
                        <p>Kits</p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</nav>